name: Gradle

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2.3.0
        with:
          distribution: zulu
          java-version: 8
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.0.4
      - name: Check with Gradle
        run: ./gradlew check
      - name: Integration Test with Gradle
        run: ./gradlew integrationTest
      - uses: codecov/codecov-action@v2.0.3
