name: Gradle

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Check with Gradle
        run: ./gradlew check
      - name: Integration Test with Gradle
        run: ./gradlew integrationTest
      - name: Code Coverage
        run: bash <(curl -s https://codecov.io/bash)
