name: Gradle

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Check with Gradle
        run: ./gradlew check
      - name: Integration Test with Gradle
        run: ./gradlew integrationTest
      - uses: codecov/codecov-action@v3
