name: Gradle

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4.2.1
        with:
          distribution: zulu
          java-version: 11
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3.4.0
      - name: Check with Gradle
        run: ./gradlew check
      - name: Integration Test with Gradle
        run: ./gradlew integrationTest
      - uses: codecov/codecov-action@v3
